@page "/style"

<PageTitle>Style</PageTitle>

<MudText Typo="Typo.h6">Color</MudText>

<div>
    <MudButton Variant="Variant.Filled" Color="Color.Default" Size="Size.Small">Default</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">Primary</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small">Secondary</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Small">Tertiary</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small">Info</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Success" Size="Size.Small">Success</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small">Warning</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Error</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" Size="Size.Small">Dark</MudButton>
</div>

<MudText Typo="Typo.h6">Custom size</MudText>

<div>
    <MudButton Class="btn-xs" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small">XS</MudButton>
    <MudButton Class="btn-sm" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small">SM</MudButton>
    <MudButton Class="btn-md" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small">MD</MudButton>
    <MudButton Class="btn-lg" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small">LG</MudButton>
    <MudButton Class="btn-xl" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small">XL</MudButton>
</div>

<div>
    <MudButton Class="btn-xs" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" StartIcon="@Icons.Material.Filled.Settings">ああ</MudButton>
    <MudButton Class="btn-sm" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" StartIcon="@Icons.Material.Filled.Settings">あああ</MudButton>
    <MudButton Class="btn-md" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" StartIcon="@Icons.Material.Filled.Settings">ああああ</MudButton>
    <MudButton Class="btn-lg" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" StartIcon="@Icons.Material.Filled.Settings">あああああ</MudButton>
    <MudButton Class="btn-xl" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" StartIcon="@Icons.Material.Filled.Settings">ああああああ</MudButton>
</div>
